.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 12px 15px;
    font-family: 'GothamSSm-Book', serif;
    color: #fff;
    background-color: #404a58;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.logo {
    font-weight: bold;
    font-size: 26px;
    margin-right: 40px;
}


/*navigation*/

.nav-button,
.site-nav .close-button {
    display: none;
}

.site-nav {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
}

.main-nav__item {
    padding-right: 10px;
}

.main-nav__item,
.account-nav__item {
    display: inline-block;
    font-size: 16px;
}

.account-nav__list {
    font-size: 0;
}

.account-nav__item {
    background-color: #fb6362;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
}

.account-nav__item>a {
    display: block;
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 99%;
    }
}

@media (max-width: 640px) {
    .unactive {
        height: 100%;
        overflow: hidden;
    }
    .nav-button {
        display: block;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #fb6362;
        border-radius: 5px;
        cursor: pointer;
    }
    .site-nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: auto;
        background: #404a58;
        z-index: 1;
    }
    .main-nav,
    .account-nav {
        width: 100%;
    }
    .main-nav__item,
    .account-nav__item {
        display: block;
        font-size: 24px;
        text-align: center;
        background: #5d6b7f;
        border-bottom: 4px solid #404a58
    }
    .site-nav a {
        display: block;
        padding: 20px;
    }
    .account-nav__item {
        background-color: #fb6362;
        border-radius: 0;
        margin-left: 0;
    }
    .site-nav .close-button {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        background-color: #5d6b7f;
    }
    .openMenu .site-nav {
        display: flex;
    }
}