<div class="details-article__wrapper">

    <div class="details-article__collapse" ng-click="$ctrl.closeDetails()" ng-hide="$ctrl.$state.current.name == 'article'">
        <a href="" class="details-article__collapse-icon"> </a>
    </div>

    <div class="details-article__container">
        
        <div ng-if="$ctrl.$state.current.name === 'article'" class="details-article__caption">
            <h2 class="news-list__caption" >Article Information</h2>
            <a ui-sref="user({username: $ctrl.article.author})" class="details-article__close-button"> </a>   
        </div>

        <news-info data-article="$ctrl.article"></news-info>

        <section class="article-comments__container">
            <h2 class="article-comments__caption"> Comments </h2>

            <comment-creating 
                    ng-if="$ctrl.userIdentification.isAuthorized" 
                    data-add-comment="$ctrl.addComment">
            </comment-creating>

            <comments-list 
                data-comments-arr="$ctrl.commentsArr" 
                data-binding-place="$ctrl.article">
            </comments-list>
        </section>
    </div>
</div>