<article class="article-info">

    <div class="article-info__image-container">
        <img class="article-info__image" src="{{$ctrl.article.authorPhoto}}" alt="userPhoto">
    </div>

    <updating-article data-article="$ctrl.article" data-close-form="$ctrl.closeShowUpdateArticleForm()" data-update-article="$ctrl.updateArticle" class="updating-article-form__container" ng-if="$ctrl.isShowUpdateArticleForm"></updating-article>

    <div ng-if="!$ctrl.isShowUpdateArticleForm" class="article-info__details-container">
        <div class="article__title-container">
            <h2 class="article__title">
                <a href='#'>{{$ctrl.article.title}}</a>
            </h2>
            <a
                    class="article__control-button" 
                    ng-if="$ctrl.isShowControlPanel" 
                    ui-sref="article({id: $ctrl.article.articleId})"
            >update</a>
        </div>

        <div class="article-info__details">
            <form class="article__rating">
                <button ng-click="$ctrl.newsBlockService.setVote($ctrl.article, 'up')" ng-class="{lockButton: !$ctrl.article.isVoted}" ng-disabled="!$ctrl.article.isVoted" class="rating-button rating-up">
                    <span class="rating__arrow rating-up__arrow"></span>
                </button>
                <button ng-click="$ctrl.newsBlockService.setVote($ctrl.article, 'down')" ng-class="{lockButton: !$ctrl.article.isVoted}" ng-disabled="!$ctrl.article.isVoted" class="rating-button rating-down">
                    <span class="rating__arrow rating-down__arrow"></span>
                </button>
            </form>
            <p class="article__about">
                <span class="text">{{$ctrl.article.rating}}</span>
                <span class="text">votes,</span>

                <span class="text">posted by</span>
                <a ui-sref="user({username: $ctrl.article.author})" class="link">{{$ctrl.article.author}}</a>
                <span class="text">{{$ctrl.article.postedDate}}</span>
                <span class="text">{{$ctrl.article.commentCount}}</span>
                <span class="text">comments</span>
            </p>
        </div>
    </div>

    <a href="#" ng-if="$ctrl.isAdmin" class="editing-news-article">

    </a>
</article>