<article class="article-info">

    <div class="article-info__image-container">
        <img class="article-info__image" src="{{$ctrl.article.authorPhoto}}" alt="userPhoto">
    </div>

    <news-updating data-article="$ctrl.article" data-is-update-state="$ctrl.isUpdateState" class="updating-article-form__container" ng-if="$ctrl.isUpdateState"></news-updating>

    <div ng-if="!$ctrl.isUpdateState" class="article-info__details-container">
        <div class="article__title-container">
            <h2 class="article__title">
                <a href='#' target='_blank'>{{$ctrl.article.title}}</a>
            </h2>

            <ul class="article-activity__list" ng-if="$ctrl.isShowControlPanel">
                <li class="article-activity__item">
                    <a ng-click="$ctrl.isUpdateState = true">update</a>
                </li>
                <li class="article-activity__item">
                    <a ng-click="$ctrl.newsBlockService.deleteArticle($ctrl.article);">delete</a>
                </li>
                <ul>
        </div>

        <div class="article-info__details">
            <form class="article__rating">
                <button ng-click="$ctrl.newsBlockService.setVote($ctrl.article, 'up')" ng-class="{lockButton: !$ctrl.article.isVoted}" ng-disabled="!$ctrl.article.isVoted" class="rating-button rating-up">
                    <span class="rating__arrow rating-up__arrow"></span>
                </button>
                <button ng-click="$ctrl.newsBlockService.setVote($ctrl.article, 'down')" ng-class="{lockButton: !$ctrl.article.isVoted}" ng-disabled="!$ctrl.article.isVoted" class="rating-button rating-down">
                    <span class="rating__arrow rating-down__arrow"></span>
                </button>
            </form>
            <p class="article__about">
                <span class="text">{{$ctrl.article.rating}}</span>
                <span class="text">votes,</span>

                <span class="text">posted by</span>
                <a ui-sref="user({username: $ctrl.article.author})" class="link">{{$ctrl.article.author}}</a>
                <span class="text">{{$ctrl.article.postedDate}}</span>
                <span class="text">{{$ctrl.article.commentCount}}</span>
                <span class="text">comments</span>
            </p>
        </div>
    </div>

    <a href="#" ng-if="$ctrl.isAdmin" class="editing-news-article">

    </a>
</article>