<form
        class="authorize-form form check-in"
        name = "$ctrl.checkIn"
        ng-submit = "$ctrl.formSubmit()"
        novalidate
>

    <div class="input-group">
        <input
                type="text"
                name="username"
                class="input-field"
                ng-model="$ctrl.data.username"
                placeholder="Username"
                ng-pattern="/[a-zA-Z]{1}[\w-.]{4,14}/"
                required
        />
        <div class="input-hint" ng-show="!$ctrl.checkIn.username.$pristine && $ctrl.checkIn.username.$invalid">
            <p ng-show="$ctrl.checkIn.username.$error.required">Please enter the login.</p>
            <p ng-show="$ctrl.checkIn.username.$error.pattern">login is not correct.</p>
        </div>
        <p
                class="input-hint"
                ng-hide="$ctrl.fieldValid.username || !$ctrl.checkIn.username.$pristine"
        >This username is already exist</p>

    </div>

    <div class="input-group">
        <input
                type="password"
                name="password"
                class="input-field"
                ng-model="$ctrl.data.password"
                placeholder="Password"
                required
                ng-minlength="5"
        />
        <div class="input-hint" ng-show="!$ctrl.checkIn.password.$pristine && $ctrl.checkIn.password.$invalid">
            <p ng-show="$ctrl.checkIn.password.$error.required">Please enter the password.</p>
            <p ng-show="$ctrl.checkIn.password.$error.minlength">Password is too short.</p>
        </div>
    </div>

    <div class="input-group">
        <input
                type="email"
                name="email"
                class="input-field"
                ng-model="$ctrl.data.email"
                placeholder="Email"
                required
                ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
        />
        <div class="input-hint" ng-show="!$ctrl.checkIn.email.$pristine && $ctrl.checkIn.email.$invalid">
        <p ng-show="$ctrl.checkIn.email.$error.required">Please enter the password.</p>
        <p ng-show="$ctrl.checkIn.email.$error.pattern">Email is not correct</p>
    </div>
        <p
                class="input-hint"
                ng-hide="$ctrl.fieldValid.email || !$ctrl.checkIn.email.$pristine"
        >This email is already exist</p>
    </div>

    <button
            type="submit"
            class="form-button authorize-button form-submit"
            ng-class="{lockButton: $ctrl.checkIn.$invalid}"
            ng-disabled="$ctrl.checkIn.$invalid"
    > check In </button>

    <p ng-show="$ctrl.notification" class="notification">{{$ctrl.notification}}</p>
</form>
